table {

  border: 1px solid #000;
  border-collapse: collapse;
}
th, td {
  text-align: left;

  padding: 0.3em;
}
th {
  background:  rgba(0, 0, 0, 0.767);
  color: white;
}
#cafeId{
  font-weight: bold;
}

